@charset "UTF-8";
body {
    background: #f8f8f8 url(../img/house.jpg) repeat-x fixed left bottom;
    background-size: cover;
}
.header {
    width: 100%;
    height: 65px;
    position: fixed; /* 화면 상단에 고정 */
    top: 0;
    left: 0;
    z-index: 999; /* 다른 요소 위에 나타나도록 설정 */
    background: rgba(0, 0, 0);
}



a {
    text-decoration: none;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0px; /* 링크 아래에 위치 */
    left: 0;
    width: 100%; /* 링크 너비와 동일하게 설정 */
    height: 2px; /* 밑줄의 높이 */
    background-color: #ffffff; /* 밑줄 색상 */
    transform: scaleX(0); /* 초기에는 가로 스케일을 0으로 설정하여 보이지 않게 함 */
    transition: transform 0.3s ease; /* 변환 효과를 부드럽게 만듦 */
}

a:hover::after {
    transform: scaleX(1); /* 호버 상태일 때 가로 스케일을 1로 설정하여 밑줄이 나타나도록 함 */
}
a.custom-underline {
    position: absolute;
    left: 200px;
    top: 2110px;
    font-size: 24px;
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    color: #000;
    text-decoration: none; /* 기본 밑줄 제거 */
    transition: width 0.3s, margin-left 0.3s; /* 밑줄 너비와 위치 변화를 부드럽게 만듦 */
    display: inline-block; /* 인라인 요소를 블록 요소로 변경하여 너비 조절을 가능하게 합니다. */
}

a.custom-underline::after {
    content: '';
    position: absolute;
    bottom: -1px; /* 링크 아래에 위치 */
    left: 50%; /* 가운데 정렬 */
    width: 0; /* 초기 너비 0으로 설정 */
    height: 2px; /* 밑줄 높이 */
    background-color: #000; /* 밑줄 색상 */
    transition: width 0.3s, margin-left 0.3s; /* 밑줄 너비와 위치 변화를 부드럽게 만듦 */
}

a.custom-underline:hover::after {
    width: 100%; /* 호버 상태일 때 밑줄의 너비를 50%로 설정하여 가운데에서 양옆으로 확장 */
    margin-left: -50%; /* 가운데 정렬을 유지하기 위해 왼쪽으로 50%의 반값을 이동 */
}

a.underline {
    position: absolute;
    left: 200px;
    top: 2110px;
    font-size: 24px;
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    color: #000;
    text-decoration: none; /* 기본 밑줄 제거 */
    transition: width 0.3s, margin-left 0.3s; /* 밑줄 너비와 위치 변화를 부드럽게 만듦 */
    display: inline-block; /* 인라인 요소를 블록 요소로 변경하여 너비 조절을 가능하게 합니다. */
}

a.underline::after {
    content: '';
    position: absolute;
    bottom: -2px; /* 링크 아래에 위치 */
    left: 50%; /* 가운데 정렬 */
    width: 0; /* 초기 너비 0으로 설정 */
    height: 2px; /* 밑줄 높이 */
    background-color: #000; /* 밑줄 색상 */
    transition: width 0.3s, margin-left 0.3s; /* 밑줄 너비와 위치 변화를 부드럽게 만듦 */
}

a.underline:hover::after {
    width: 100%; /* 호버 상태일 때 밑줄의 너비를 50%로 설정하여 가운데에서 양옆으로 확장 */
    margin-left: -50%; /* 가운데 정렬을 유지하기 위해 왼쪽으로 50%의 반값을 이동 */
}

.additional-content2 {
	position: absolute;
	width: 100%;
	left:0;
	top:500px;
	background-color: rgb(0, 0, 0); /* 배경색 설정 */
	height: 100px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	padding: 25px; /* 내부 여백 설정 */
}

.additional-content {
	position: absolute;
	width: 100%;
	left:0;
	top:600px;
	background-color: white; /* 배경색 설정 */
	height: 2000px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
}
.column {
    width: calc(25% - 10px); /* 화면의 1/4 크기로 설정하고 이미지 간격 10px 고려 */
    display: inline-block;
    box-sizing: border-box;
    padding: 10px; /* 내부 여백 설정 */
    margin-right: 10px; /* 이미지 간격 설정 */
    margin-bottom: 10px; /* 이미지 아래 간격 설정 */
}

.column:nth-child(4n) {
    margin-right: 0; /* 각 행의 마지막 이미지에 오른쪽 여백을 없애줍니다. */
}

.column img {
    width: 500px; /* 이미지의 너비를 400px로 설정 */
    height: 420px; /* 이미지의 높이를 400px로 설정 */
    object-fit: cover; /* 이미지를 확대 또는 축소하여 요소에 맞게 합니다 */
    display: block; /* 인라인 요소를 블록 요소로 변경하여 중앙 정렬 */
    margin: 0 auto; /* 가운데 정렬 */
}
.column img:hover {
    background-color: rgba(0, 0, 0, 0.5); /* 호버링 시 배경색 변경 */
}
button {
    background-color: white; /* 배경색 */
    border: none; /* 테두리 없음 */
    color: black; /* 글자색 */
    padding: 15px 32px; /* 내부 여백 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* 글자 크기 */
    margin: 4px 2px; /* 외부 여백 */
    cursor: pointer; /* 커서 스타일 변경 */
    border-radius: 12px; /* 버튼 모서리를 둥글게 만듦 */
}

button:hover {
    background-color: rgb(128, 128, 128); /* 호버 시 배경색 변경 */
}
.modal {
  display: none; /* 모달 숨기기 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 60vh; /* 화면의 높이의 50%로 설정합니다 */
    padding-top: 300px;
}

.modal-content img {
    max-width: 100%; /* 이미지가 부모 요소 내에서 넘치지 않도록 최대 너비를 설정합니다 */
    max-height: 100%; /* 이미지가 부모 요소 내에서 넘치지 않도록 최대 높이를 설정합니다 */
    object-fit: contain; /* 이미지가 부모 요소 내에서 비율을 유지하면서 적절하게 배치되도록 합니다 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.prev,
.next {
    position: absolute; /* 절대적 위치 설정 */
    top: 50%; /* 이미지 세로 중앙 기준으로 위치 조정 */
    width: 100px; /* 버튼의 너비 설정 */
    height: 100px; /* 버튼의 높이 설정 */
    background-color: rgba(0, 0, 0, 0.5); /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    font-size: 26px; /* 글자 크기 설정 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 스타일 변경 */
    transition: background-color 0.3s; /* 배경색 변화를 부드럽게 만듦 */
}

.prev {
    left: 0; /* 이전 버튼은 왼쪽에 배치 */
}

.next {
    right: 0; /* 다음 버튼은 오른쪽에 배치 */
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* 호버 시 배경색 변경 */
}